<ion-content>
  <div class="content">
    <div class="grid-animais">
      <div *ngIf="loading" class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <div class="grid-animais">
        <ion-grid>
          <ion-row >
            <ion-col size="6" class="bloco-card" *ngFor="let produto of produtos">
              <ion-card>
                <ion-card-header class="animal">
                  <ion-img class="imagem-animal" [src]="produto.img" *ngIf="produto.imagem !== null"></ion-img>
                  <ion-card-subtitle class="nome">{{produto.nome}}</ion-card-subtitle>
                </ion-card-header>
                <ion-fab vertical="center" horizontal="end">
                  <ion-fab-button style="--background: #196B10 !important">
                    <ion-icon name="caret-up-outline"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-list side="top">
                    <ion-fab-button (click)="editarProduto(produto.id)"><ion-icon name="create-outline" style="color: rgb(0, 147, 252); width: 30px; height: 30px;"></ion-icon></ion-fab-button>
                    <ion-fab-button (click)="excluirProduto(produto.id)" ><ion-icon name="trash-outline" style="color: rgb(249, 61, 3); width: 30px; height: 30px;"></ion-icon></ion-fab-button>
                  </ion-fab-list>
                </ion-fab>
                <ion-card-content class="local">
                  <div style="text-decoration: line-through;">
                    Valor: {{produto.valorReal}}
                  </div>
                  <div>
                    Desconto: {{produto.valorDesconto}}
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button style="--background: transparent !important">
    <ion-icon (click)="criarProduto()" name="add-circle-outline" class="iconi-style"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="start">
  <ion-fab-button style="--background: transparent !important">
    <ion-icon (click)="voltar()" name="arrow-back-outline" class="iconi-style"></ion-icon>
  </ion-fab-button>
</ion-fab>
