<ion-content>
  <div class="content">
    <!-- <span *ngIf="!loading">{{mensagem}}</span> -->
    <div class="filtro">

    </div>
    <div class="grid-animais">
      <div *ngIf="loading" class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <ion-grid>
        <ion-row >
          <ion-col size="12" class="bloco-card" *ngIf="animal">
            <ion-card>
              <ion-card-header class="animal">
                <ion-img class="imagem-animal" [src]="animal.img" *ngIf="animal.imagem !== null"></ion-img>
                <ion-img class="imagem-animal" [src]="gato" *ngIf="animal.imagem === null"></ion-img>
                <ion-icon
                  name="heart"
                  class="favoritar-pet"
                  [ngClass]="{
                    isFavorito: animal.idsUsuariosQueFavoritaram.includes(this.user.id),
                    isNotFavorito: !animal.idsUsuariosQueFavoritaram.includes(this.user.id)
                  }" (click)="favoritarAnimal(animal.id)"></ion-icon>
                <ion-card-title class="nome">{{animal.nome}}</ion-card-title>
              </ion-card-header>
              <ion-card-content class="local">
                <ion-row >
                  <ion-col size="12">
                    Especie: {{animal.tipo}}
                  </ion-col>
                </ion-row>
                <ion-row >
                  <ion-col size="6" >
                    Idade: {{animal.idade}}
                  </ion-col>
                  <ion-col size="6">
                    Peso: {{animal.peso}} Kg
                  </ion-col>
                </ion-row>
                <ion-row >
                  <ion-col size="6">
                    Pelagem: {{animal.pelagem}}
                  </ion-col>
                  <ion-col size="6">
                    Sexo: {{animal.sexo}}
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="animal.tipo === 'Gato'">
                  <ion-col size="12">
                    Vermifugado: {{animal.vermifugado}}
                  </ion-col>
                </ion-row>
                <ion-row >
                  <ion-col size="12">
                    <p>Vacinas: {{animal.vacina}} </p>
                  </ion-col>
                </ion-row>
                <ion-row >
                  <ion-col size="12">
                    Doenças: {{animal.doenca}}
                  </ion-col>
                </ion-row>
                <ion-row >
                  <ion-col size="12">
                    Detalhes: {{animal.descricao}}
                  </ion-col>
                </ion-row>
                <ion-row >
                  <ion-col size="12">
                    Rua: {{animal.rua}}
                  </ion-col>
                </ion-row>
                <ion-row >
                  <ion-col size="12">
                    Bairro: {{animal.bairro}}
                  </ion-col>
                </ion-row>
                <ion-row >
                  <ion-col size="12">
                    Cidade: {{animal.cidade}}
                  </ion-col>
                </ion-row>
                <ion-row >
                  <ion-col size="12">
                    Doador: {{animal.nomeDoador}}
                  </ion-col>
                </ion-row>
                <ion-row >
                  <ion-col size="12">
                    Telefone: {{animal.telefone1}}
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="animal.telefone2 !== ''">
                  <ion-col size="12">
                    Telefone: {{animal.telefone2}}
                  </ion-col>
                </ion-row>
                <div class="row button-area">
                  <div class="col s12">
                    <button class="button" expand="block" (click)="falarComDoador(animal.idDoador)">Falar com o doador</button>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-fab vertical="bottom" style="--background: trasparent !important"  horizontal="start" slot="fixed" *ngIf="animal && animal.idsUsuariosQueFavoritaram.includes(this.user.id)">
  <ion-fab-button style="--background: trasparent !important" (click)="irParaMeusFavoritos()">
    <ion-icon name="arrow-back-outline" class="iconi-add"></ion-icon>
  </ion-fab-button>
</ion-fab>
