<ion-content>
  <div class="content">
    <ion-grid style="width: 100%;">
      <ion-row>
        <ion-col class="item-form" size="12">
          <ion-label color="primary">Imagem Atual: </ion-label>
          <ion-img class="imagem-animal" [src]="img"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="item-form" size="12">
          <ion-label color="primary">Imagem: </ion-label>
          <ion-input type="file" (change)="fileChange($event)"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="item-form" size="12">
          <ion-label color="primary">Razão social: </ion-label>
          <ion-input type="text" [(ngModel)]="nome"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="item-form" size="12">
          <ion-label color="primary">Telefone: </ion-label>
          <ion-input type="text" [(ngModel)]="telefone1"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="item-form" size="12">
          <ion-label color="primary">Telefone: </ion-label>
          <ion-input type="text" [(ngModel)]="telefone2"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="item-form" size="12">
          <ion-label color="primary">Rua: </ion-label>
          <ion-input type="text" [(ngModel)]="rua"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="item-form" size="12">
          <ion-label color="primary">Bairro: </ion-label>
          <ion-input type="text" [(ngModel)]="bairro"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="item-form" size="12">
          <ion-label color="primary">Cidade: </ion-label>
          <ion-input type="text" [(ngModel)]="cidade"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="item-form" size="12">
          <ion-label color="primary">Tipo de desconto: </ion-label>
          <ion-select [(ngModel)]="tipoExame" class="listaTipo" [(ngModel)]="tipoDesconto" placeholder="Selecione...">
            <ion-select-option value="Produto">Produto</ion-select-option>
            <ion-select-option value="Servico">Serviço</ion-select-option>
            <!-- <ion-select-option [value]="tipo.id">Serviço</ion-select-option> -->
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="item-form" size="12">
          <ion-textarea [(ngModel)]="sobreLoja" rows="5" placeholder="Escreva sobre a loja/serviço"></ion-textarea>
          <!-- <ion-textarea [(ngModel)]="observacoes" rows="7" style="--padding-start: 0; --padding-end: 0" placeholder="Escreva as suas observações..."></ion-textarea> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="item-form" size="12">
          <ion-textarea [(ngModel)]="sobreDesconto" rows="5" placeholder="Escreva sobre o desconto"></ion-textarea>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="item-form-center" size="12">
          <ion-button (click)="cancelar()" color="primary" expand="block">Cancelar</ion-button>
          <ion-button (click)="salvarServico()" color="primary" expand="block">Salvar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
