<ion-content>
  <div class="content">
    <ion-grid style="width: 100%;">
      <form [formGroup]="cadastroForm">
        <ion-row>
          <ion-col class="item-form" size="12">
            <ion-label style="--color: black; margin-right: 8px">Imagem Atual: </ion-label>
            <ion-img class="imagem-animal" [src]="img"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-form" size="12">
            <ion-label style="--color: black; margin-right: 8px">Imagem: </ion-label>
            <ion-input type="file" (change)="fileChange($event)"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-form" size="12">
            <ion-label style="--color: black; margin-right: 8px">Razão social: </ion-label>
            <span class="mensagem-erro" *ngIf="cadastroForm.controls.nome.errors">*</span>
            <ion-input type="text" formControlName="nome"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-form" size="12">
            <ion-label style="--color: black; margin-right: 8px">Telefone: </ion-label>
            <span class="mensagem-erro" *ngIf="cadastroForm.controls.telefone1.errors">*</span>
            <ion-input type="text" formControlName="telefone1"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-form" size="12">
            <ion-label style="--color: black; margin-right: 8px">Telefone: </ion-label>
            <ion-input type="text" formControlName="telefone2"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-form" size="12">
            <ion-label style="--color: black; margin-right: 8px">Rua: </ion-label>
            <span class="mensagem-erro" *ngIf="cadastroForm.controls.rua.errors">*</span>
            <ion-input type="text" formControlName="rua"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-form" size="12">
            <ion-label style="--color: black; margin-right: 8px">Bairro: </ion-label>
            <span class="mensagem-erro" *ngIf="cadastroForm.controls.bairro.errors">*</span>
            <ion-input type="text" formControlName="bairro"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-form" size="12">
            <ion-label style="--color: black; margin-right: 8px">Cidade: </ion-label>
            <span class="mensagem-erro" *ngIf="cadastroForm.controls.cidade.errors">*</span>
            <ion-input type="text" formControlName="cidade"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-form" size="12">
            <ion-label style="--color: black; margin-right: 8px">Tipo de desconto: </ion-label>
            <span class="mensagem-erro" *ngIf="cadastroForm.controls.tipoDesconto.errors">*</span>
            <ion-select formControlName="tipoDesconto" class="listaTipo" placeholder="Selecione...">
              <ion-select-option value="Produto">Produto</ion-select-option>
              <ion-select-option value="Servico">Serviço</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-form" size="12" class="ajuste-display">
            <div>
              <ion-label style="--color: black; margin-right: 8px">Sobre a loja/serviço: </ion-label>
              <span class="mensagem-erro" *ngIf="cadastroForm.controls.sobreLoja.errors">*</span>
            </div>
            <ion-textarea formControlName="sobreLoja" rows="5" placeholder="Escreva sobre a loja/serviço"></ion-textarea>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-form" size="12" class="ajuste-display">
            <div>
              <ion-label style="--color: black; margin-right: 8px">Sobre o desconto: </ion-label>
              <span class="mensagem-erro" *ngIf="cadastroForm.controls.sobreDesconto.errors">*</span>
            </div>
            <ion-textarea formControlName="sobreDesconto" rows="5" placeholder="Escreva sobre o desconto"></ion-textarea>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="item-form-center" size="6">
            <button (click)="cancelar()" class="botaoCancelar" expand="block">Cancelar</button>
          </ion-col>
          <ion-col class="item-form-center" size="6">
            <button (click)="salvarServico()" class="botaoConfirmar" [disabled]="!cadastroForm.valid" expand="block">Salvar</button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>
