.content{
  margin-top: 8vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filtro{
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .filtro-topico{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(208, 208, 208);

    .topico{
      font-size: 12px;
      color: gray;
    }

    .listaTipo{
      margin: 0 auto;
      padding: 0;
    }
  }
}

.iconi-add{
  color: #196B10;
  width: 36px;
  height: 36px;
}

.header-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteudo-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.topico{
  padding-bottom: 6px;
}

.acoes-card{
  display: flex;
  justify-content: flex-end;
}

.bloco-card{
  padding: 0;
  margin: 0;
}

.acoes{
  position: relative;
}

.iconi{
  width: 25px;
  height: 25px;
}

.contagem{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -14px;
  right: -14px;
}

.curtir{
  color: #15AD2E;
}
