<ion-content>
  <div class="content">
    <div class="sector-novo-clinicas">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="bloco-card">
            <ion-card *ngFor="let post of posts" (click)="verComentarios(post.id)">
              <ion-card-header>
                <ion-card-subtitle class="header-card">
                  <span>{{post.nomeUsuario.split(' ').slice(0, 2).join(' ')}}</span>
                  <span>{{post.dataAtualizacao}}</span>
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="conteudo-card">
                <div class="topico">{{post.topico}}</div>
                <div>{{post.conteudo}}</div>
              </ion-card-content>
              <ion-card-content class="acoes-card">
                <span class="acoes" style="margin-right: 40px;">
                  <ion-icon name="chatbox-ellipses-outline" class="iconi"></ion-icon>
                  <ion-badge color="dark" class="contagem">{{post.quantComentarios}}</ion-badge>
                </span>
                <span class="acoes curtir" style="margin-right: 10px;" >
                  <ion-icon name="thumbs-up-outline" class="iconi"></ion-icon>
                  <ion-badge color="dark" class="contagem">0</ion-badge>
                </span>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="criarPost()">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
