<ion-content>
  <div class="content">
    <ion-grid style="width: 100%;">
      <div class="header">
        {{destinatario}}
      </div>
      <div class="mensagem">
        <ul>
          <li *ngFor="let mObj of conversas" [ngClass]="mObj.usuarioOrigem === this.user.id ? 'msgRight' : 'msgLeft'"><p>{{mObj.menssagem}}</p></li>
        </ul>
      </div>
      <div class="bloco-input">
        <input tipe="text" [(ngModel)]="menssagem"/>
        <ion-icon name="arrow-forward-circle-outline" class="iconi-enviar"  (click)="postConversa()"></ion-icon>
      </div>
    </ion-grid>
  </div>
</ion-content>
