<ion-content>
  <div class="content">
    <div class="grid-animais">
      <ion-grid style="width: 100vw;">
        <form [formGroup]="cadastroForm">
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label style="--color: black; margin-right: 8px">Imagem: </ion-label>
              <span class="mensagem-erro" *ngIf="!this.arquivo">*</span>
              <ion-img class="imagem-animal"  *ngIf="this.arquivo !== null" [src]="img"></ion-img>
              <button (click)="mudarFoto()" class="btn-image">{{statusFoto}}</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label style="--color: black; margin-right: 8px">Nome: </ion-label>
              <span class="mensagem-erro" *ngIf="cadastroForm.controls.nome.errors">*</span>
              <ion-input type="text" formControlName="nome"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label style="--color: black; margin-right: 8px">Espécie: </ion-label>
              <span class="mensagem-erro" *ngIf="cadastroForm.controls.tipo.errors">*</span>
              <ion-select formControlName="tipo" class="listaTipo" placeholder="Selecione...">
                <ion-select-option value="Gato">Gato</ion-select-option>
                <ion-select-option value="Cachorro">Cachorro</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label style="--color: black; margin-right: 8px">Idade: </ion-label>
              <ion-input type="text" formControlName="idade"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label style="--color: black; margin-right: 8px">Peso: </ion-label>
              <span class="mensagem-erro" *ngIf="cadastroForm.controls.peso.errors">*</span>
              <ion-input type="number" formControlName="peso"></ion-input>
              <span>Kg</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label style="--color: black; margin-right: 8px">Pelagem: </ion-label>
              <span class="mensagem-erro" *ngIf="cadastroForm.controls.pelagem.errors">*</span>
              <ion-input type="text" formControlName="pelagem"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label style="--color: black; margin-right: 8px">Sexo: </ion-label>
              <span class="mensagem-erro" *ngIf="cadastroForm.controls.sexo.errors">*</span>
              <ion-select formControlName="sexo" class="listaTipo" placeholder="Selecione...">
                <ion-select-option value="M">Macho</ion-select-option>
                <ion-select-option value="F">Fêmea</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label style="--color: black; margin-right: 8px">Vermifugado: </ion-label>
              <span class="mensagem-erro" *ngIf="cadastroForm.controls.vermifugado.errors">*</span>
              <ion-select formControlName="vermifugado" class="listaTipo" placeholder="Selecione...">
                <ion-select-option value='true'>Sim</ion-select-option>
                <ion-select-option value='false'>Não</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label style="--color: black; margin-right: 8px">Castrado: </ion-label>
              <span class="mensagem-erro" *ngIf="cadastroForm.controls.castrado.errors">*</span>
              <ion-select formControlName="castrado" class="listaTipo" placeholder="Selecione...">
                <ion-select-option value='true'>Sim</ion-select-option>
                <ion-select-option value='false'>Não</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label style="--color: black; margin-right: 8px">Vacinas: </ion-label>
              <span class="mensagem-erro" *ngIf="cadastroForm.controls.vacina.errors">*</span>
              <ion-input type="text" formControlName="vacina"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label style="--color: black; margin-right: 8px">Doenças: </ion-label>
              <span class="mensagem-erro" *ngIf="cadastroForm.controls.doenca.errors">*</span>
              <ion-input type="text" formControlName="doenca"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="12" class="ajuste-display">
              <div>
                <ion-label style="--color: black; margin-right: 8px">Detalhes do bixinho: </ion-label>
                <span class="mensagem-erro" *ngIf="cadastroForm.controls.descricao.errors">*</span>
              </div>
              <ion-textarea formControlName="descricao" rows="5" placeholder="Escreva sobre o bixinho"></ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label style="--color: black; margin-right: 8px">Rua: </ion-label>
              <span class="mensagem-erro" *ngIf="cadastroForm.controls.rua.errors">*</span>
              <ion-input type="text" formControlName="rua"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label style="--color: black; margin-right: 8px">Bairro: </ion-label>
              <span class="mensagem-erro" *ngIf="cadastroForm.controls.bairro.errors">*</span>
              <ion-input type="text" formControlName="bairro"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label style="--color: black; margin-right: 8px">Cidade: </ion-label>
              <span class="mensagem-erro" *ngIf="cadastroForm.controls.cidade.errors">*</span>
              <ion-input type="text" formControlName="cidade"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form-center" size="6">
              <button (click)="cancelar()" class="botaoCancelar" expand="block">Cancelar</button>
            </ion-col>
            <ion-col class="item-form-center" size="6">
              <button (click)="salvarAnimal()" class="botaoConfirmar" [disabled]="!cadastroForm.valid" expand="block">Salvar</button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </div>
  </div>

</ion-content>

