<ion-content>
  <div class="content">
    <div class="grid-animais">
      <div *ngIf="loading" class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <div class="grid-animais">
        <ion-grid>
          <ion-row >
            <ion-col size="6" class="bloco-card" *ngFor="let produto of produtos">
              <ion-card (click)="openUrlExterna(produto.url)">
                <ion-card-header class="animal">
                  <ion-img class="imagem-animal" [src]="produto.img" *ngIf="produto.imagem !== null"></ion-img>
                  <ion-img class="imagem-animal" [src]="produtoImg" *ngIf="produto.imagem === null"></ion-img>
                  <ion-card-subtitle class="nome">{{produto.nome}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="local">
                  <div style="text-decoration: line-through;">
                    Valor: {{produto.valorReal}}
                  </div>
                  <div>
                    Desconto: {{produto.valorDesconto}}
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
