.content{
  margin-top: 8vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listaTipo{
  --placeholder-opacity: 0.5;
}

.item-form{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item-form-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensagem-erro{
  font-size: 14px;
  color: red;
  margin-right: 12px;
}

.ajuste-display{
  display: flex;
  flex-direction: column;
}

.botaoCancelar{
  background-color: #a7a7a7;
  width: 140px;
  height: 40px;
  color: aliceblue;
}

.botaoConfirmar{
  background-color: #60E677;
  width: 140px;
  height: 40px;
  color: aliceblue;
}

.juste-margin{
  margin-bottom: 26px;
}

.btn-image{
  padding: 6px 10px;
  background-color: #8fc30b;
  color: black;
}
