<ion-content>
  <div class="content">
    <div class="grid-animais">
      <div *ngIf="loading" class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <ion-grid>
        <ion-row>
          <span *ngIf="!loading">{{mensagem}}</span>
        </ion-row>
        <ion-row >
          <ion-col size="12" class="bloco-card" *ngFor="let servico of servicos">
            <ion-card>
              <ion-card-header class="animal">
                <ion-img class="imagem-animal" [src]="servico.img" *ngIf="servico.imagem !== null"></ion-img>
                <ion-img class="imagem-animal" [src]="foto" *ngIf="servico.imagem === null"></ion-img>
                <ion-card-title class="nome">{{servico.nome}}</ion-card-title>
              </ion-card-header>
              <ion-fab vertical="center" horizontal="end">
                <ion-fab-button *ngIf="servico.tipo === 'Produto'">
                  <ion-icon (click)="verProdutos(servico.id)" name="enter-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab>
              <ion-card-content class="bloco-card-content">
                <div class="info">Tipo de desconto: {{servico.tipo}}</div>
                <div class="info">{{servico.descricao}}</div>
                <div class="info">{{servico.desconto}}</div>
                <div class="info-padrao">Rua: {{servico.rua}}</div>
                <div class="info-padrao">Bairro: {{servico.bairro}}</div>
                <div class="info-padrao">Cidade: {{servico.cidade}}</div>
                <div class="info-padrao">Telefone: {{servico.telefone1}}</div>
                <div class="info-padrao">Telefone: {{servico.telefone2}}</div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="user && user.role === 'pessoa_juridica'">
  <ion-fab-button>
    <ion-icon name="caret-up-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="ciarNovoServico()"><ion-icon name="add-circle-outline" style="color: rgb(255, 132, 0); width: 44px; height: 44px;"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="verMeusServico()"><ion-icon name="folder-open-outline" style="color: rgb(12, 156, 40); width: 30px; height: 30px;"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>
