<ion-content>
  <div class="content">
    <ion-grid style="width: 100%;">
      <form [formGroup]="cadastroForm">
        <ion-row>
          <ion-col class="item-form" size="12">
            <ion-label style="--color: black; margin-right: 6px;">Imagem: </ion-label>
            <span class="mensagem-erro" *ngIf="!this.arquivo">*</span>
            <ion-img class="imagem-animal"  *ngIf="this.arquivo !== null" [src]="img"></ion-img>
            <button (click)="mudarFoto()" class="btn-image">{{statusFoto}}</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-form" size="12">
            <ion-label style="--color: black; margin-right: 6px;">Produto: </ion-label>
            <span class="mensagem-erro" *ngIf="cadastroForm.controls.nome.errors">*</span>
            <ion-input type="text" formControlName="nome"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-form" size="12">
            <ion-label style="--color: black; margin-right: 6px;">Valor Real: </ion-label>
            <span class="mensagem-erro" *ngIf="cadastroForm.controls.valorReal.errors">*</span>
            <ion-input type="number" formControlName="valorReal"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-form" size="12">
            <ion-label style="--color: black; margin-right: 6px;">Valor com desconto: </ion-label>
            <span class="mensagem-erro" *ngIf="cadastroForm.controls.valorDesconto.errors">*</span>
            <ion-input type="number" formControlName="valorDesconto"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-form" size="12">
            <ion-label style="--color: black; margin-right: 6px;">Url: </ion-label>
            <span class="mensagem-erro" *ngIf="cadastroForm.controls.url.errors">*</span>
            <ion-input type="text" formControlName="url"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-form-center" size="6">
            <button (click)="cancelar()" class="botaoCancelar" expand="block">Cancelar</button>
          </ion-col>
          <ion-col class="item-form-center" size="6">
            <button (click)="salvarProduto()" class="botaoConfirmar" [disabled]="!cadastroForm.valid" expand="block">Salvar</button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>
