.content{
  margin-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-animais{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;
}

.bloco-card{
  padding: 0;
  margin: 0;
}

.conteudo{
  padding: 6px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  margin-bottom: 8px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acoes-card{
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.bloco-card{
  padding: 0;
  margin: 0;
}

.acoes{
  position: relative;
}

.iconi{
  width: 25px;
  height: 25px;
}

.contagem{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -14px;
  right: -14px;
}

.curtir:active{
  color: blue;
}

.comentario{
  padding: 6px 4px;
  border-bottom: 1px solid gray;
}
